<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title sec:authentication="name"></title>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div th:if="${param.error}">
    用户名或密码错误
</div>
<div th:if="${param.logout}">
    已注销登录
</div>
<div th:if="${param.expired}">
    session超时
</div>
<form th:action="@{/login}" method="post">
    <div><label> 用户名 : <input type="text" name="username"/> </label></div>
    <div><label> 密码: <input type="password" name="password"/> </label></div>
    <div><label> 记住我: <input type="radio" name="remember-me"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>